<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
        crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <title>Nodejs Web Development Ebook</title>
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-dark py-3">
        <div class="container-fluid">
            <a href="index.html" class="navbar-brand">
                <p class="d-inline align-middle">Marie's Library</p>
            </a>
        </div>
    </nav>

    <section class="py-2">
        <div class="row">
            <div class="col-md-6 text-center">
                <h1 class="display-3 mt-3 pt-5"> Web Development Ebook</h1>
                <p class="lead">Learn Web Development front to back</p>
                <form action="/charge" method="POST">
                    <script 
                        src="https://checkout.stripe.com/checkout.js" 
                        class="stripe-button" 
                        data-key="<%= stripePublishableKey %>"
                        data-amount="2500" 
                        data-name="Ebook Sales App" 
                        data-description="Web development ebook" 
                        data-image="logo.png" 
                        data-locale="auto"
                        data-currency="eur" 
                        data-zip-code="true">
                    </script>
                    <script>
                        document.getElementsByClassName("stripe-button-el")[0].style.display = 'none';
                    </script>
                    <button type="submit" class="btn text-white">Purchase for 25€</button>
                </form>
            </div>
            <div class="col-md-6">
                <img src="book.png" class="img-fluid" alt="book">
            </div>
        </div>
    </section>

    <footer class="bg-gray-light border-top py-4 text-gray text-center flex-none">
        <span>Made with 💜</span>
        <p>© 2019 </p>
    </footer>
</body>
</html>